{% extends 'layout.html.twig' %}

{% block body %}
<div class="container text-center">
        <div class="row ">
    {% for post in blogPosts %}
        <div class="col m-3">
                <div class="card text-center " style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text">{{ post.chapo }}</p>
                        <a href="#" class="btn btn-primary">Lire l'article</a>
                    </div>
                </div>
            </div>
    {% endfor %}
        </div>
</div>
{% endblock %}
