{% extends 'layout.html.twig' %}

{% block body %}
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section class="py-5">
        <div class="container px-5">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Article créé avec succès!</h4>
                <p>Votre article a été créé avec succès, vous pouvez désormais le retrouver dans la liste des article disponibles</p>
                <hr>
                <p class="mb-0">Il vous sera possible de le modifier ou supprimer depuis sa page</p>
            </div>
        </div>
    </section>
</main>
{% endblock %}