{% extends 'layout.html.twig' %}

{% block body %}
    <main class="flex-shrink-0">
        <!-- Page content-->
        <section class="py-5">
            <div class="container d-flex justify-content-center align-items-center flex-column">
                <div class="col-sm-6 col-sm-offset-3">
                    <br/>
                    <h2 style="color:#0fad00">Compte créé avec succès</h2>
                    <img src="http://osmhotels.com//assets/check-true.jpg" alt="checkedch">
                    <p style="font-size:20px;color:#5C5C5C;">Votre inscription a bien été prise en compte</p>
                    <br/>
                    <a href="/">
                        <button class="btn btn-outline-success"> Retour à la page d&apos;accueil</button>
                    </a>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
