{% block header %}
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            {% if session %}
                <a class="fs-3 ms-5 fw-bold navbar-brand" href="/" style="color: #6082BB">
                    Bonjour {{ session.username }}
                    <img src="../../../public/assets/websiteUtils/phpNavbar.png" alt="logo php stylisé"
                         style="width: 100px; height: 50px; object-fit: contain;">
                </a>
            {% else %}
                <a class="navbar-brand" href="/">
                    <img src="../../../public/assets/websiteUtils/phpNavbar.png" alt="logo php stylisé"
                         style="width: 100px; height: 50px; object-fit: contain;">
                </a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/">Accueil</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                            {% if session.role == 'ROLE_ADMIN' %}
                                <li>
                                    <a class="dropdown-item" href="/post/create">Créer</a>
                                </li>
                            {% endif %}
                            <li>
                                <a class="dropdown-item" href="/list">Liste des articles</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                    {% if not session %}
                        <li class="nav-item"><a class="nav-link" href="/login">Connexion</a></li>
                        <li class="nav-item"><a class="nav-link" href="/register">Inscription</a></li>
                    {% endif %}

                    {% if session %}
                        <li class="nav-item"><a class="nav-link" href="/logout">Déconnexion</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}