{% extends 'layout.html.twig' %}

{% block body %}
    <main class="flex-shrink-0">
        <!-- Page content-->
        <section class="py-5">
            <div class="container d-flex justify-content-center align-items-center flex-column">
                <br/>
                <h2 style="color:#0fad00">Votre email a été envoyé avec succès!</h2>
                <img src="http://osmhotels.com//assets/check-true.jpg" alt="checked">
                <p style="font-size:20px;color:#5C5C5C;">Votre demande sera traitée rapidement.</p>
                <br/>
                <a href="/">
                    <button class="btn btn-outline-success"> Retour à la page d&apos;accueil</button>
                </a>
            </div>
        </section>
    </main>

{% endblock %}
